body {
    background-image: url(background-image/background8.jpg);
    background-position: center;
    background-size: cover;
    height: 95vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: cursive;
}

.music-player-body {
    width: 320px;
    height: 390px;
    box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.5), 0 6px 20px 0 rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(5px);
    border-radius: 20px;
    padding: 20px;
    text-align: center;
}

h2,
h3 {
    margin-top: 0px;
    color: #fff;
}

/* Add styles for the track image */
.track-image {
    max-width: 90%;
    height: 170px;
    margin-top: 5px;
    border: 3px solid black;
    border-radius: 10px;
    outline: none;
}

audio {
    width: 100%;
}

.controls {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.controls button {
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 10px;
    width: 40px;
    height: 35px;
    cursor: pointer;
    margin: 0 10px;
    font-size: 22px;
    transition: 0.3s;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 10px;
    width: 40px;
    height: 35px;
    cursor: pointer;
    margin: 0 10px;
    font-size: 22px;
    transition: 0.3s;
}

/* Change button background color to green on hover */
.controls button:hover {
    background-color: #4CAF50;
}

/* Style for the playlist */
.playlist {

    padding: 20px;
    color: #070707;
    width: 320px;
    height: 300px;
    text-decoration-color: #fff;
    box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.5), 0 6px 20px 0 rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(5px);
    border-radius: 20px;
    padding: 20px;
    text-align: center;
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.playlist h3 {
    margin-top: 5;
}

.playlist ul {
    list-style-type: none;
    padding: 2;
    margin-bottom: 1%;
}

.playlist li {
    margin-bottom: 5px;
    display: flex;
    align-items: center;
}

.playlist li .play-icon {
    background: none;
    border: none;
    font-size: 20px;
    margin-left: 10px;
    cursor: pointer;
    padding: 0;
}
.hidden {
    display: none;
}

/* CSS for playlist items */
.playlist li {
    background-color: #f9f9f9; 
    border: 1px solid #ddd; 
    padding: 10px; 
    margin-bottom: 10px; 
    border-radius: 5px; 
    display: flex; 
    align-items: center; 
}

/* CSS for play icon button within playlist */
.playlist li .play-icon {
    margin-left: auto;
    cursor: pointer; 
}
.playlist.show {
    /* Move the playlist to the right side */
    transform: translateX(0);
}
.playlist {
    /* Existing styles for the playlist */
    /* Set initial position to move it off-screen */
    transform: translateX(100%);
    transition: transform 0.5s ease;
}



